/*login.html*/
.login .userTx{ width: 1.74rem; height: 1.74rem; border-radius: 50%; overflow: hidden; margin-top: 0.3rem; padding-bottom:0.2rem; display: inline-block;}
.login .userTx img{ width: 100%;}
.logCom .in{ text-align: center; width: 75%; margin: 0 auto; }
.logCom .inpCom{ overflow: hidden;}
.logCom .inpCom .inp{border-bottom: 1px solid #ccc; padding-bottom: 0.2rem; box-sizing: border-box; overflow: hidden; position: relative; margin-top: 0.6rem;}
.logCom .inpCom .inp input{ width: 100%; padding-left: 0.85rem; padding-right: 0.2rem;  height: 0.42rem; box-sizing: border-box; background-color: transparent; font-size: 0.28rem;}
.logCom .inpCom .inp i{ width: 0.42rem; height: 0.42rem; background: url("../images/img-login/dlico.png") no-repeat;background-size: cover; display: inline-block; position: absolute; left: 0.1rem; top: 0; }
.logCom .inpCom .inp.inp01 i{ background-position: left top;}
.logCom .inpCom .inp.inp02 i{ background-position: right top;}
.logCom .inpCom .inp.inp02 input{ padding-right: 1.3rem;}
.logCom .inpCom .inp.inp02 .forFwd{ font-size: 0.24rem; color: #000; position: absolute; top:0.1rem; right: 0; }
.logCom .btn{ width: 100%; margin-top: 0.6rem;}
.logCom .btn button{ width: 100%; height: 0.88rem; background-color: #fd554a; border-radius: 0.7rem; color: #000; font-size: 0.28rem; display: block; }
.empower{ margin-top: 1.1rem;}
.empower .hdTit{ position: relative;}
.empower .hdTit .line{ width: 100%; height: 1px; background-color: #ccc;}
.empower .hdTit span{ color: #999; font-size: 0.24rem; padding:0 0.2rem; background-color: #ebebeb; }
.empower ul{ overflow: hidden; margin-top: 0.4rem; width: 100%;}
.empower ul li{ width: 33.3%; float: left;}
.empower ul li a{ width: 100%; display: inline-block;}
.empower ul li a img{ width: 50%;}
.newReg{ margin-top: 0.45rem;}
.newReg a{ font-size: 0.28rem; color: #000; position: relative;}
.newReg a:after{ content: "";  width: 0.2rem ;height: 0.18rem; background: url(../images/img-login/regjt.png) no-repeat; background-size: cover; display:block; text-align: center;
    position: absolute; left: 50%; margin-left: -0.1rem; margin-top: 0.2rem;}

/*register.html*/
.logCom .inpCom .inp.inp03{ border-bottom: 0; padding-bottom: 0;}
.logCom .inpCom .inp.inp03 .yzm{ padding-bottom: 0.2rem; border-bottom: 1px solid #ccc; height: 0.42rem;width:60%;float: left;}
.logCom .inpCom .inp.inp03 input{ width:100%; padding-left: 0; }
.logCom .inpCom .inp.inp03 .getCode{ color: #000; font-size: 0.24rem; padding: 0.14rem 0.12rem; background-color: #81c730; border-radius: 0.12rem; float: right;}
.logCom .chat a{ font-size: 0.24rem; color: #999; margin-top: 0.25rem; text-decoration: underline; display: block;}

/*protocol.html*/
.protocol .in{ padding:0.2rem;}
.protocol h1{ text-align: center; font-size: 0.4rem; line-height: 0.6rem;}
.protocol .pap{ font-size: 0.24rem; line-height: 0.36rem; margin-top: 0.2rem;}
.protocol .pap h3{ font-size: 0.28rem; line-height: 0.4rem;}
.protocol .list{ overflow:hidden; margin-top: 0.2rem;}
.protocol .list ul{ overflow:hidden;}
.protocol .list ul li{ margin-bottom: 0.15rem;}
.protocol .list ul li h2{ font-size: 0.28rem; margin-bottom: 0.12rem;}
.protocol .list ul li p{ font-size: 0.22rem; line-height: 0.32rem; color:#7B7B7B; margin-bottom: 0.06rem;}

